<div class="col-md-12 pull-right" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-md-12">
            <h1>Image: **first image tag**

            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">ID / Parent ID:</div>
        <div class="col-md-4"><a ng-href="#/images/{{imageDetails.Id}}"><samp>{{imageDetails.Id | limitTo:12}}</samp></a> / <a
                ng-href="#/images/{{imageDetails.Parent}}"><samp>{{imageDetails.Parent | limitTo:12}}</samp></a></div>
        <div class="col-md-2">Author:</div>
        <div class="col-md-5">{{imageDetails.Author}}</div>
    </div>
    <div class="row">
        <div class="col-md-1">Image name:</div>
        <div class="col-md-4">N/A</div>
        <div class="col-md-2">OS/Architecture:</div>
        <div class="col-md-5">{{imageDetails.Os}}/{{imageDetails.Architecture}}</div>
    </div>
    <div class="row">
        <div class="col-md-1">Creation date:</div>
        <div class="col-md-4">{{imageDetails.Created | date:'medium'}}</div>
        <div class="col-md-2">Command:</div>
        <div class="col-md-5"><code ng-show="imageDetails.ContainerConfig.Cmd.length>0"><span
                ng-repeat="cmd in imageDetails.ContainerConfig.Cmd"> {{cmd}}</span></code></div>
    </div>
    <div class="row">
        <div class="col-md-1">Docker version:</div>
        <div class="col-md-4">{{imageDetails.DockerVersion}}</div>
        <div class="col-md-2">Entry point:</div>
        <div class="col-md-5"><code ng-show="imageDetails.Config.Entrypoint.length>0">{{imageDetails.Config.Entrypoint[0]}}</code></div>
    </div>
    <div class="row">
        <div class="col-md-1">Size (virtual size):</div>
        <div class="col-md-4">{{imageDetails.Size | bytes}} ({{imageDetails.VirtualSize | bytes}})</div>
        <div class="col-md-2">Exposed ports:</div>
        <div class="col-md-5">{{imageDetails.Config.ExposedPorts}}</div>
    </div>
    <div class="row">
        <div class="col-md-1">Comment:</div>
        <div class="col-md-4">{{imageDetails.Comment}}</div>
        <div class="col-md-2">Environment variables:</div>
        <div class="col-md-5"><p ng-repeat="env in imageDetails.Config.Env"><code>{{env}}</code></p></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-5">Working dir:</div>
        <div class="col-md-5"><code ng-show="imageDetails.Config.WorkingDir.length>0">{{imageDetails.Config.WorkingDir}}</code></div>
    </div>
    <hr/>
    <div class="table-responsive">
        <table class="table table-condensed table-hover table-striped table-bordered">
            <thead>
            <tr class="success">
                <td width="3%" class="text-center"><strong>Id</strong></td>
                <td width="5%" class="text-center"><strong>Created</strong></td>
                <td width="40%" class="text-center"><strong>Command</strong></td>
                <td width="3%" class="text-center"><strong>Size</strong></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="imageHistory in imageHistoryList">
                <td><a ng-href="#/imageDetails/{{imageHistory.Id}}"><samp>{{imageHistory.Id | limitTo:12}}</samp></a></td>
                <td>{{imageHistory.Created * 1000 | date:'dd-MM-yy HH:mm:ss'}}</td>
                <td>{{imageHistory.CreatedBy| limitTo:80}}</td>
                <td>{{imageHistory.Size | bytes:2}}</td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
