<div class="col-md-12 pull-right">
    <div class="row">
        <div class="col-md-12">
            <h1>Container: <strong>{{containerDetails.Name.substring(1).toUpperCase()}}</strong></h1>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-1">Name:</div>
        <div class="col-md-3">{{containerDetails.Name.toUpperCase()}}</div>
        <div class="col-md-1">Network mode:</div>
        <div class="col-md-3">{{containerDetails.HostConfig.NetworkMode}}</div>
        <div class="col-md-1">CPU share:</div>
        <div class="col-md-3">{{containerDetails.Config.CpuShares}}</div>
    </div>
    <div class="row">
        <div class="col-md-1">Hostname:</div>
        <div class="col-md-3">{{containerDetails.Config.Hostname}}</div>
        <div class="col-md-1">Host bridge:</div>
        <div class="col-md-3">{{containerDetails.NetworkSettings.Bridge}}</div>
        <div class="col-md-1">CPU set:</div>
        <div class="col-md-3">{{containerDetails.Config.Cpuset}}</div>
    </div>
    <div class="row">
        <div class="col-md-1">Image:</div>
        <div class="col-md-3"><a ng-href="#/imageDetails/{{containerDetails.Image}}">
            <samp>
                <span class="label label-primary">{{containerDetails.Config.Image | limitTo:50}}</span>
            </samp></a>
        </div>
        <div class="col-md-1">Ports:</div>
        <div class="col-md-3"><span class="label label-danger">TBD</span></div>
        <div class="col-md-1">PID on host:</div>
        <div class="col-md-3">{{containerDetails.State.Pid}}</div>
    </div>
    <div class="row">
        <div class="col-md-1">Created:</div>
        <div class="col-md-3">{{containerDetails.Created | date:'medium'}}</div>
        <div class="col-md-1">IPv4</div>
        <div class="col-md-3">{{containerDetails.NetworkSettings.IPAddress}}/{{containerDetails.NetworkSettings.IPPrefixLen}}</div>
        <div class="col-md-1">Driver:</div>
        <div class="col-md-3">{{containerDetails.Driver}}</div>
    </div>
    <div class="row">
        <div class="col-md-1">Started:</div>
        <div class="col-md-3">{{containerDetails.State.StartedAt| date:'medium'}}</div>
        <div class="col-md-1">Gateway:</div>
        <div class="col-md-3">{{containerDetails.NetworkSettings.Gateway}}</div>
        <div class="col-md-1">ExecDriver:</div>
        <div class="col-md-3">{{containerDetails.ExecDriver}}</div>
    </div>
    <div class="row">
        <div class="col-md-1">Finished:</div>
        <div class="col-md-3">{{containerDetails.State.FinishedAt| date:'medium'}} <span class="label label-danger">Fix it</span></div>
        <div class="col-md-1">DNS:</div>
        <div class="col-md-3">{{containerDetails.HostConfig.Dns}}</div>
        <div class="col-md-1"></div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-1">State:</div>
        <div class="col-md-3"><span class="label label-danger">TBD</span></div>
        <div class="col-md-1"></div>
        <div class="col-md-3"></div>
        <div class="col-md-1"></div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-1">Restart count:</div>
        <div class="col-md-3">{{containerDetails.RestartCount}}</div>
        <div class="col-md-1"></div>
        <div class="col-md-3"></div>
        <div class="col-md-1"></div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-1">Command:</div>
        <div class="col-md-3">{{containerDetails.Config.Cmd}}<span class="label label-danger">Fix it</span></div>
        <div class="col-md-1"></div>
        <div class="col-md-3"></div>
        <div class="col-md-1"></div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-1">Working dir:</div>
        <div class="col-md-3">{{containerDetails.Config.WorkingDir}}</div>
        <div class="col-md-1"></div>
        <div class="col-md-3"></div>
        <div class="col-md-1"></div>
        <div class="col-md-3"></div>
    </div>
    <hr/>
    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{'active':activeTab=='top'}"><a ng-click="showProcesses(containerDetails.Id.substr(0,12))">Processes</a></li>
        <li role="presentation" ng-class="{'active':activeTab=='logs'}"><a ng-click="showLogs(containerDetails.Id.substr(0,12))">Logs</a></li>
        <li role="presentation" ng-class="{'active':activeTab=='diff'}"><a ng-click="showDiff(containerDetails.Id.substr(0,12))">Diff</a></li>
        <li role="presentation" ng-class="{'active':activeTab=='tty'}"><a ng-click="showTty(containerDetails.Id.substr(0,12))">TTY</a></li>
        <li role="presentation" ng-class="{'active':activeTab=='json'}"><a ng-click="showJson(containerDetails.Id.substr(0,12))">Pure json</a></li>
    </ul>
    <br/>

    <div ng-show="activeTab=='top'">
        <table class="table table-condensed table-hover table-striped">
            <thead>
            <tr class="success">
                <td ng-repeat="title in containerProcesses.Titles">
                    <strong>{{title}}</strong>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="process in containerProcesses.Processes">
                <td ng-repeat="processItem in process">
                    {{processItem}}
                </td>

            </tr>
            </tbody>

        </table>
    </div>

    <div ng-show="activeTab=='logs'">
        <div class="col-md-6">
            <button type="button" ng-click="switchStdOutPanel()" ng-class="{'btn btn-primary': logSettings['showStdOut'], 'btn btn-info': !logSettings['showStdOut']}">
                <span ng-class="{'glyphicon glyphicon-check': logSettings['showStdOut'], 'glyphicon glyphicon-unchecked': !logSettings['showStdOut']}"></span>
                Standard output
            </button>
        </div>
        <div class="col-md-6">
            <button type="button" ng-click="switchStdErrPanel()" ng-class="{'btn btn-primary': logSettings['showStdErr'], 'btn btn-info': !logSettings['showStdErr']}">
                <span ng-class="{'glyphicon glyphicon-check': logSettings['showStdErr'], 'glyphicon glyphicon-unchecked': !logSettings['showStdErr']}"></span>
                Standard error
            </button>
        </div>
        <br/>
        <br/>

        <div ng-class="{'col-md-6': logSettings['showStdErr'], 'col-md-12': !logSettings['showStdErr']}" ng-show="logSettings['showStdOut']">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="form-inline">
                        <button type="button" ng-click="" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-refresh"></span>Reload</button>
                        <button type="button" ng-click="" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-unchecked"></span>Show timestamp</button>
                        <div class="input-group">
                            <div class="input-group-addon">Tail lines:</div>
                            <input type="number" max="9999" value="1000" class="form-control">
                        </div>
                        <button type="button" ng-click="" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-unchecked"></span>all</button>

                    </div>
                </div>
                <div class="panel-body">
                        <pre class="pre-scrollable">
                            {{stdOutLog}}
                        </pre>
                </div>
            </div>

        </div>
        <div ng-class="{'col-md-6': logSettings['showStdOut'], 'col-md-12': !logSettings['showStdOut']}" ng-show="logSettings['showStdErr']">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="form-inline">
                        <button type="button" ng-click="" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-refresh"></span>Reload</button>
                        <button type="button" ng-click="" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-unchecked"></span>Show timestamp</button>
                        <div class="input-group">
                            <div class="input-group-addon">Tail lines:</div>
                            <input type="number" max="9999" value="1000" class="form-control">
                        </div>
                        <button type="button" ng-click="" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-unchecked"></span>all</button>
                    </div>
                </div>
                <div class="panel-body">
                         <pre class="pre-scrollable">
                            {{stdErrLog}}
                        </pre>
                </div>
            </div>


        </div>
    </div>

    <div ng-show="activeTab=='diff'">
        <div class="col-md-3 vcenter">
            <button type="button" class="btn  btn-default btn-sm" ng-click="firstDiffPage()">
                <span class="glyphicon glyphicon-step-backward"></span> First
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="prevDiffPage()">
                <span class="glyphicon glyphicon-chevron-left"></span> Previous
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="nextDiffPage()">
                Next <span class=" glyphicon glyphicon-chevron-right"></span>
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="lastDiffPage()">
                Last <span class=" glyphicon glyphicon-step-forward"></span>
            </button>
        </div>
        <div class="col-md-1 vcenter">
            Page {{diffSettings["pageIndex"] }} / {{ diffSettings["maxPageIndex"]}}
        </div>
        <div class="col-md-8 vcenter text-left">
            Page size:
            <select ng-model="newDiffPageSize" ng-click="changeDiffPaging()">
                <option>10</option>
                <option>20</option>
                <option>50</option>
            </select>
        </div>
        <br/>
        <br/>
        <table class="table table-condensed table-hover table-striped">
            <thead>
            <tr class="success">
                <td width="10%" class="text-center">
                    <strong>Status</strong>
                </td>
                <td width="90%" class="text-center">
                    <strong>Folders/files <span class="badge">{{diffSettings["count"]}}</span></strong>
                </td>
            </thead>
            <tr ng-repeat="diff in containerDiffs track by $index | orderBy:Path">
                <td class="text-center"><span
                        ng-class="{'glyphicon glyphicon-pencil text-warning':diff.Kind==0,'glyphicon glyphicon-plus text-success':diff.Kind==1,'glyphicon glyphicon-trash text-danger':diff.Kind==2 }"></span>
                </td>
                <td>{{diff.Path}}</td>
            </tr>
        </table>
        <div class="col-md-9 vcenter text-left">
            Items listed: {{ diffSettings["startIndex"]}} - {{ diffSettings["endIndex"]}}
        </div>
    </div>
    <div ng-show="activeTab=='json'">
        <json-formatter json="containerDetails" open="10"></json-formatter>
    </div>
</div>
