<div class="col-md-12 ">
    <div class="alert alert-danger" role="alert" ng-show="containerDetails.HostConfig.Privileged==true">
        <h3 class="panel-title"><span class="fa fa-exclamation-triangle"></span>
            This is a privileged container</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Container: <strong>{{containerDetails.Name.substring(1).toUpperCase()}}</strong>
                <span ng-show='containerDetails.State.Running==true && containerDetails.State.Paused==false'
                      class="label label-success">Running</span>
                <span ng-show='containerDetails.State.Paused==true' class="label label-warning">Paused</span>
                <span ng-show='containerDetails.State.Restarting==true' class="label label-info">Restarting</span>
            <span ng-show='containerDetails.State.Running == false && containerDetails.State.Restarting == false && containerDetails.State.Paused ==false'
                  class="label label-default">Stopped</span>
            <span
                    ng-show='containerDetails.State.Running == false && containerDetails.State.Restarting == false && containerDetails.State.Paused ==false&& containerDetails.State.ExitCode ==137'
                    class="label label-danger">Probably killed with 9</span>
            <span
                    ng-show='containerDetails.State.Running == false && containerDetails.State.Restarting == false && containerDetails.State.Paused ==false&& containerDetails.State.ExitCode ==130'
                    class="label label-danger">Probably terminated with Ctrl-C</span>
                <span ng-show='containerDetails.State.OOMKilled==true' class="label label-danger">Out of memory</span>
            </h3>
        </div>
        <div class="col-md-6">
            <div class="pull-right " style=" vertical-align: middle;margin-top: 21px">
                <button class="btn btn-success btn-sm"
                        ng-disabled="!canStart"
                        ng-click="startContainer()">
                    <span class="glyphicon glyphicon-play"></span><strong> start</strong>
                </button>
                <button class="btn btn-danger btn-sm"
                        ng-disabled="!canStop"
                        ng-click="stopContainer()">
                    <span class="glyphicon glyphicon-stop"></span><strong> stop</strong>
                </button>
                <button class="btn btn-primary btn-sm"
                        ng-disabled="!canRestart"
                        ng-click="restartContainer()">
                    <span class="glyphicon glyphicon-refresh"></span><strong> restart</strong>
                </button>
                <button class="btn btn-danger btn-sm"
                        ng-disabled="!canKill"
                        ng-click="killContainer()">
                    <span class="glyphicon glyphicon-trash"></span><strong> kill</strong>
                </button>
                <button class="btn btn-warning btn-sm"
                        ng-disabled="!canPause"
                        ng-click="pauseContainer()">
                    <span class="glyphicon glyphicon-pause"></span><strong> pause</strong>
                </button>
                <button class="btn btn-info btn-sm"
                        ng-disabled="!canUnpause"
                        ng-click="unpauseContainer()">
                    <span class="glyphicon glyphicon-repeat"></span><strong> unpause</strong>
                </button>
                <button class="btn btn-danger btn-sm"
                        ng-disabled="!canRemove"
                        ng-click="removeContainer()">
                    <span class="glyphicon glyphicon-trash"></span><strong> remove</strong>
                </button>
            </div>
        </div>
    </div>
    <hr/>

    <div class="alert alert-info" role="alert" ng-show="containerDetailsLoading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-refresh spin"></span>
            {{containerDetailsLoadingMessage}}</h3>
    </div>

    </h1>
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title"><span class="fa fa-gears"></span> Basic settings</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-3 text-right"><strong>Full name</strong></div>
                <div class="col-md-9">{{containerDetails.Name.toUpperCase()}}&nbsp;</div>
                <div class="col-md-3 text-right"><strong>Hostname</strong></div>
                <div class="col-md-9">{{containerDetails.Config.Hostname}}&nbsp;</div>
                <div class="col-md-3 text-right"><strong>Image</strong></div>
                <div class="col-md-9"><a ng-href="#/imageDetails/{{containerDetails.Image}}">
                    <samp>
                        <span class="label label-primary">{{containerDetails.Config.Image | limitTo:50}}</span>
                    </samp></a>
                    &nbsp;
                </div>
                <div class="col-md-3 text-right"><strong>Created</strong></div>
                <div class="col-md-9">{{containerDetails.Created | date:'medium'}}&nbsp;</div>
                <div class="col-md-3 text-right"><strong>Started</strong></div>
                <div class="col-md-9">{{containerDetails.State.StartedAt| date:'medium'}}&nbsp;</div>
                <div class="col-md-3 text-right"><strong>Finished</strong></div>
                <div class="col-md-9">{{containerDetails.State.Running==true?"No":containerDetails.State.FinishedAt|
                    date:'medium'}}&nbsp;</div>
                <div class="col-md-3 text-right"><strong>Working dir</strong></div>
                <div class="col-md-9">{{containerDetails.Config.WorkingDir}}&nbsp;</div>
                <div class="col-md-3 text-right"><strong>Command</strong></div>
                <div class="col-md-9"><code>{{containerDetails.Config.Cmd.join(' ')}}</code>&nbsp;</div>
                <div class="col-md-3 text-right"><strong>Entry point</strong></div>
                <div class="col-md-9"><code>{{containerDetails.Config.Entrypoint.join(' ')}}</code>&nbsp;</div>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4 class="panel-title"><span class="fa fa-tachometer"></span> Runtime settings</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-3 text-right"><strong>CPU share</strong></div>
                <div class="col-md-9">{{containerDetails.Config.CpuShares}}&nbsp;</div>
                <div class="col-md-3 text-right"><strong>CPU set</strong></div>
                <div class="col-md-9">{{containerDetails.Config.Cpuset}}&nbsp;</div>
                <div class="col-md-3 text-right"><strong>PID on host</strong></div>
                <div class="col-md-9">{{containerDetails.State.Pid}}&nbsp;</div>
                <div class="col-md-3 text-right"><strong>Driver</strong></div>
                <div class="col-md-9">{{containerDetails.Driver}}&nbsp;</div>
                <div class="col-md-3 text-right"><strong>ExecDriver</strong></div>
                <div class="col-md-9">{{containerDetails.ExecDriver}}&nbsp;</div>
                <div class="col-md-3 text-right"><strong>Restart count</strong></div>
                <div class="col-md-9">{{containerDetails.RestartCount}}&nbsp;</div>
                <div class="col-md-3 text-right"><strong>Privileged:</strong></div>
                <div class="col-md-9">{{containerDetails.HostConfig.Privileged}}&nbsp;</div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title"><span class="fa fa-sitemap"></span> Network settings</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-3 text-right"><strong>Network mode</strong></div>
                <div class="col-md-9">{{containerDetails.HostConfig.NetworkMode}}&nbsp;</div>
                <div class="col-md-3 text-right"><strong>Host bridge</strong></div>
                <div class="col-md-9">{{containerDetails.NetworkSettings.Bridge}}&nbsp;</div>
                <div class="col-md-3 text-right"><strong>IPv4</strong></div>
                <div class="col-md-9">
                    {{containerDetails.NetworkSettings.IPAddress}}/{{containerDetails.NetworkSettings.IPPrefixLen}}&nbsp;
                </div>
                <div class="col-md-3 text-right"><strong>Gateway</strong></div>
                <div class="col-md-9">{{containerDetails.NetworkSettings.Gateway}}&nbsp;</div>
                <div class="col-md-3 text-right"><strong>DNS</strong></div>
                <div class="col-md-9">{{containerDetails.HostConfig.Dns}}&nbsp;</div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li role="presentation" ng-class="{'active':activeTab=='info'}"><a
                    ng-click="showInfo(containerDetails.Id.substr(0,12))">Info</a></li>
            <li role="presentation" ng-class="{'active':activeTab=='top'}"><a
                    ng-click="showProcesses(containerDetails.Id.substr(0,12))">Processes</a></li>
            <li role="presentation" ng-class="{'active':activeTab=='logs'}"><a
                    ng-click="showLogs(containerDetails.Id.substr(0,12))">Logs</a></li>
            <li role="presentation" ng-class="{'active':activeTab=='diff'}"><a
                    ng-click="showDiff(containerDetails.Id.substr(0,12))">Diff</a></li>
            <li role="presentation" ng-class="{'active':activeTab=='tty'}"><a
                    ng-click="showTty(containerDetails.Id.substr(0,12))">TTY</a></li>
            <li role="presentation" ng-class="{'active':activeTab=='json'}"><a
                    ng-click="showJson(containerDetails.Id.substr(0,12))">Pure json</a></li>
        </ul>
    </div>
    <div class="col-md-12">
        <br/>
    </div>
    <div ng-show="activeTab=='info'" class="col-md-12">
        <div class="alert alert-info" role="alert" ng-show="containerDetailsLoading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-refresh spin"></span>
                {{containerDetailsLoadingMessage}}</h3>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="fa fa-link"></span>
                        Links
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-hover table-striped"
                           ng-show="!isEmpty(containerDetails.HostConfig.Links)">
                        <thead>
                        <tr>
                            <th>Link</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="Link in containerDetails.HostConfig.Links">
                            <td>{{Link}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-md-8">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="fa fa-folder-open"></span>
                        Volumes
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-hover table-striped"
                           ng-show="!isEmpty(containerDetails.Volumes)">
                        <thead>
                        <tr>
                            <th>Host</th>
                            <th>Container</th>
                            <th class="text-center">Writeable</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(key,value) in containerDetails.Volumes">
                            <td>{{value}}</td>
                            <td>{{key}}</td>
                            <td class="text-center">{{containerDetails.VolumesRW[key]==true?'yes':'no'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="fa fa-plug"> </span>
                        Port assignments
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-hover table-striped" ng-show="true">
                        <thead>
                        <tr>
                            <th>Container internal port</th>
                            <th>Host IP/port</th>
                            <th class="text-center">Public</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(key, value) in containerDetails.NetworkSettings['Ports']">
                            <td>{{key}}</td>
                            <td>{{value[0]["HostIp"]}}{{value.length>0?":":""}}{{value[0]["HostPort"]}}</td>
                            <td class="text-center" ng-show="value.length>0"><strong>true</strong></td>
                            <td class="text-center" ng-show="!value.length>0">false</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="fa fa-info"> </span>
                        Environment variables
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-hover table-striped" ng-show="true">
                        <tbody>
                        <tr ng-repeat="env in containerDetails.Config.Env | orderBy:env">
                            <td>{{env}}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>

    <div ng-show="activeTab=='top'" class="col-md-12">
        <div class="alert alert-info" role="alert" ng-show="containerTopLoading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-refresh spin"></span>
                {{containerTopLoadingMessage}}</h3>
        </div>
        <table class="table table-condensed table-hover table-striped" ng-show="canStop">
            <thead>
            <tr class="success">
                <td ng-repeat="title in containerProcesses.Titles">
                    <strong>{{title}}</strong>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="process in containerProcesses.Processes">
                <td ng-repeat="processItem in process">
                    {{processItem}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="activeTab=='logs'" class="col-md-12">
        <div class="alert alert-info" role="alert" ng-show="containerLogsLoading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-refresh spin"></span>
                {{containerLogsLoadingMessage}}</h3>
        </div>
        <div class="col-md-12">
            <!--<button type="button" ng-click="downloadAllLogs()"-->
            <!--class='btn btn-success'>-->
            <!--<span class='fa fa-download'></span>-->
            <!--Download logs-->
            <!--</button>-->
            <button type="button" ng-click="switchStdOutPanel()"
                    ng-class="{'btn btn-primary': logSettings['showStdOut'], 'btn btn-info': !logSettings['showStdOut']}">
                <span ng-class="{'glyphicon glyphicon-check': logSettings['showStdOut'], 'glyphicon glyphicon-unchecked': !logSettings['showStdOut']}"></span>
                Standard output
            </button>
            <button type="button" ng-click="switchStdErrPanel()"
                    ng-class="{'btn btn-primary': logSettings['showStdErr'], 'btn btn-info': !logSettings['showStdErr']}">
                <span ng-class="{'glyphicon glyphicon-check': logSettings['showStdErr'], 'glyphicon glyphicon-unchecked': !logSettings['showStdErr']}"></span>
                Standard error
            </button>
        </div>
        <br/>
        <br/>
        <div ng-class="{'col-md-6': logSettings['showStdErr'], 'col-md-12': !logSettings['showStdErr']}"
             ng-show="logSettings['showStdOut']">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="form-inline">
                        <button type="button" ng-click="refreshStdOutLogs()" class="btn btn-primary btn-sm"><span
                                class="glyphicon glyphicon-refresh"></span>Reload
                        </button>
                        <button type="button" ng-click="switchShowStdOutTimestamp()" class="btn btn-primary btn-sm">
                            <span ng-class="{'glyphicon glyphicon-unchecked':!logSettings['stdOutTimestamp'], 'glyphicon glyphicon-check':logSettings['stdOutTimestamp']}"></span>Show
                            timestamp
                        </button>
                        <div class="input-group">
                            <div class="input-group-addon">Tail lines</div>
                            <input type="number" max="9999" class="form-control" ng-model='logSettings["stdOutTail"]'>
                        </div>
                        <button type="button" ng-click="switchStdOutTailAll()" class="btn btn-primary btn-sm">
                            <span ng-class="{'glyphicon glyphicon-unchecked':!logSettings['stdOutTailAll'], 'glyphicon glyphicon-check':logSettings['stdOutTailAll']}"></span>
                            all
                        </button>

                    </div>
                </div>
                <div class="panel-body">
                        <pre class="pre-scrollable">
                            {{stdOutLog}}
                        </pre>
                </div>
            </div>

        </div>
        <div ng-class="{'col-md-6': logSettings['showStdOut'], 'col-md-12': !logSettings['showStdOut']}"
             ng-show="logSettings['showStdErr']">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="form-inline">
                        <button type="button" ng-click="refreshStdErrLogs()" class="btn btn-primary btn-sm"><span
                                class="glyphicon glyphicon-refresh"></span>Reload
                        </button>
                        <button type="button" ng-click="switchShowStdErrTimestamp()" class="btn btn-primary btn-sm">
                            <span ng-class="{'glyphicon glyphicon-unchecked':!logSettings['stdErrTimestamp'], 'glyphicon glyphicon-check':logSettings['stdErrTimestamp']}"></span>Show
                            timestamp
                        </button>
                        <div class="input-group">
                            <div class="input-group-addon">Tail lines</div>
                            <input type="number" max="9999" class="form-control" ng-model='logSettings["stdErrTail"]'>
                        </div>
                        <button type="button" ng-click="switchStdErrTailAll()" class="btn btn-primary btn-sm">
                            <span ng-class="{'glyphicon glyphicon-unchecked':!logSettings['stdErrTailAll'], 'glyphicon glyphicon-check':logSettings['stdErrTailAll']}"></span>
                            all
                        </button>

                    </div>
                </div>
                <div class="panel-body">
                         <pre class="pre-scrollable">
                            {{stdErrLog}}
                        </pre>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="activeTab=='diff'" class="col-md-12">
        <div class="alert alert-info" role="alert" ng-show="containerDiffLoading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-refresh spin"></span>
                {{containerDiffLoadingMessage}}</h3>
        </div>
        <div class="col-md-6 vcenter">
            <button type="button" class="btn  btn-primary btn-sm" ng-click="refreshDiffs()">
                <span class="glyphicon glyphicon-refresh"></span> Refresh
            </button>
            <button type="button" class="btn  btn-default btn-sm" ng-click="firstDiffPage()">
                <span class="glyphicon glyphicon-step-backward"></span> First
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="prevDiffPage()">
                <span class="glyphicon glyphicon-chevron-left"></span> Previous
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="nextDiffPage()">
                Next <span class=" glyphicon glyphicon-chevron-right"></span>
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="lastDiffPage()">
                Last <span class=" glyphicon glyphicon-step-forward"></span>
            </button>
            <label>Filter: <input ng-model="search.$"></label>
        </div>
        <div class="col-md-1 vcenter">
            Page {{diffSettings["pageIndex"] }} / {{ diffSettings["maxPageIndex"]}}
        </div>
        <div class="col-md-4 vcenter text-left">
            Page size:
            <select ng-model="newDiffPageSize" ng-click="changeDiffPaging()">
                <option>10</option>
                <option>20</option>
                <option>50</option>
            </select>
        </div>
        <br/>
        <br/>
        <table class="table table-condensed table-hover table-striped">
            <thead>
            <tr class="success">
                <td width="10%" class="text-center">
                    <strong>Status</strong>
                </td>
                <td width="90%" class="text-center">
                    <strong>All folders/files <span class="badge">{{diffSettings["count"]}}</span></strong>
                </td>
            </thead>
            <tr ng-repeat="diff in containerDiffs | filter:search | orderBy:Path">
                <td class="text-center"><span
                        ng-class="{'glyphicon glyphicon-pencil text-warning':diff.Kind==0,'glyphicon glyphicon-plus text-success':diff.Kind==1,'glyphicon glyphicon-trash text-danger':diff.Kind==2 }"></span>
                </td>
                <td>{{diff.Path}}</td>
            </tr>
        </table>
        <div class="col-md-9 vcenter text-left">
            Items listed: {{ diffSettings["startIndex"]}} - {{ diffSettings["endIndex"]}}
        </div>
    </div>
    <div ng-show="activeTab=='tty'" class="col-md-12">
        <div class="col-md-offset-2 col-md-8">
            <pre id="terminal" style="line-height: 1;"></pre>
        </div>
    </div>
    <div ng-show="activeTab=='json'" class="col-md-12">
        <json-formatter json="containerDetails" open="10"></json-formatter>
    </div>
</div>
