<div class="col-md-12 pull-right">
    <div class="row">
        <div class="col-md-12">
            <h1>Container: <strong>{{containerDetails.Name.substring(1).toUpperCase()}}</strong></h1>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-1">Name:</div>
        <div class="col-md-3">{{containerDetails.Name.toUpperCase()}}</div>
        <div class="col-md-1">Network mode:</div>
        <div class="col-md-3">{{containerDetails.HostConfig.NetworkMode}}</div>
        <div class="col-md-1">CPU share:</div>
        <div class="col-md-3">{{containerDetails.Config.CpuShares}}</div>
    </div>
    <div class="row">
        <div class="col-md-1">Hostname:</div>
        <div class="col-md-3">{{containerDetails.Config.Hostname}}</div>
        <div class="col-md-1">Host bridge:</div>
        <div class="col-md-3">{{containerDetails.NetworkSettings.Bridge}}</div>
        <div class="col-md-1">CPU set:</div>
        <div class="col-md-3">{{containerDetails.Config.Cpuset}}</div>
    </div>
    <div class="row">
        <div class="col-md-1">Image:</div>
        <div class="col-md-3"><a ng-href="#/imageDetails/{{containerDetails.Image}}">
            <samp>
                <span class="label label-primary">{{containerDetails.Config.Image | limitTo:50}}</span>
            </samp></a>
        </div>
        <div class="col-md-1">Ports:</div>
        <div class="col-md-3"><span class="label label-danger">TBD</span></div>
        <div class="col-md-1">PID on host:</div>
        <div class="col-md-3">{{containerDetails.State.Pid}}</div>
    </div>
    <div class="row">
        <div class="col-md-1">Created:</div>
        <div class="col-md-3">{{containerDetails.Created | date:'medium'}}</div>
        <div class="col-md-1">IPv4</div>
        <div class="col-md-3">{{containerDetails.NetworkSettings.IPAddress}}/{{containerDetails.NetworkSettings.IPPrefixLen}}</div>
        <div class="col-md-1">Driver:</div>
        <div class="col-md-3">{{containerDetails.Driver}}</div>
    </div>
    <div class="row">
        <div class="col-md-1">Started:</div>
        <div class="col-md-3">{{containerDetails.State.StartedAt| date:'medium'}}</div>
        <div class="col-md-1">Gateway:</div>
        <div class="col-md-3">{{containerDetails.NetworkSettings.Gateway}}</div>
        <div class="col-md-1">ExecDriver:</div>
        <div class="col-md-3">{{containerDetails.ExecDriver}}</div>
    </div>
    <div class="row">
        <div class="col-md-1">Finished:</div>
        <div class="col-md-3">{{containerDetails.State.FinishedAt| date:'medium'}} <span class="label label-danger">Fix it</span></div>
        <div class="col-md-1">DNS:</div>
        <div class="col-md-3">{{containerDetails.HostConfig.Dns}}</div>
        <div class="col-md-1"></div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-1">State:</div>
        <div class="col-md-3"><span class="label label-danger">TBD</span></div>
        <div class="col-md-1"></div>
        <div class="col-md-3"></div>
        <div class="col-md-1"></div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-1">Restart count:</div>
        <div class="col-md-3">{{containerDetails.RestartCount}}</div>
        <div class="col-md-1"></div>
        <div class="col-md-3"></div>
        <div class="col-md-1"></div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-1">Command:</div>
        <div class="col-md-3">{{containerDetails.Config.Cmd}}<span class="label label-danger">Fix it</span></div>
        <div class="col-md-1"></div>
        <div class="col-md-3"></div>
        <div class="col-md-1"></div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-1">Working dir:</div>
        <div class="col-md-3">{{containerDetails.Config.WorkingDir}}</div>
        <div class="col-md-1"></div>
        <div class="col-md-3"></div>
        <div class="col-md-1"></div>
        <div class="col-md-3"></div>
    </div>
    <hr/>
    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{'active':activeTab=='logs'}"><a ng-click="showLogs(containerDetails.Id.substr(0,12))">Logs</a></li>
        <li role="presentation" ng-class="{'active':activeTab=='ps'}"><a ng-click="showProcesses(containerDetails.Id.substr(0,12))">Processes</a></li>
        <li role="presentation" ng-class="{'active':activeTab=='diff'}"><a ng-click="showDiff(containerDetails.Id.substr(0,12))">Diff</a></li>
        <li role="presentation" ng-class="{'active':activeTab=='tty'}"><a ng-click="showTty(containerDetails.Id.substr(0,12))">TTY</a></li>
        <li role="presentation" ng-class="{'active':activeTab=='json'}"><a ng-click="showJson(containerDetails.Id.substr(0,12))">Pure json</a></li>
    </ul>
    <div ng-show="activeTab=='diff'">
        <div class="row">
            <div class="col-md-1 text-center">
                Status
            </div>
            <div class="col-md-11">
                Path
            </div>
        </div>
        <div class="row" ng-repeat="diff in containerDiffs track by $index">
            <div class="col-md-1 text-center"><span
                    ng-class="{'glyphicon glyphicon-pencil text-warning':diff.Kind==0,'glyphicon glyphicon-plus text-success':diff.Kind==1,'glyphicon glyphicon-trash text-danger':diff.Kind==2 }"></span>
            </div>
            <div class="col-md-11">{{diff.Path}}</div>
        </div>

    </div>
</div>
