<div class="col-md-12 pull-right">
    <div class="row">
        <div class="col-md-6">
            <h3>Containers on: <strong>{{$root.hostUrl}}</strong></h3>

        </div>
        <div class="col-md-6">
            <div class="pull-right " style=" vertical-align: middle;margin-top: 21px">
                <button class="btn btn-success btn-sm"
                        ng-click="startSelectedContainers()">
                    <span class="glyphicon glyphicon glyphicon-play"></span><strong> start</strong>
                </button>
                <button class="btn btn-danger btn-sm"
                        ng-click="stopSelectedContainers()">
                    <span class="glyphicon glyphicon glyphicon-stop"></span><strong> stop</strong>
                </button>
                <button class="btn btn-primary btn-sm"
                        ng-click="restartSelectedContainers()">
                    <span class="glyphicon glyphicon glyphicon-refresh"></span><strong> restart</strong>
                </button>
                <button class="btn btn-danger btn-sm"
                        ng-click="killSelectedContainers()">
                    <span class="glyphicon glyphicon glyphicon-trash"></span><strong> kill</strong>
                </button>
                <button class="btn btn-warning btn-sm"
                        ng-click="pauseSelectedContainers()">
                    <span class="glyphicon glyphicon glyphicon-pause"></span><strong> pause</strong>
                </button>
                <button class="btn btn-info btn-sm"
                        ng-click="unpauseSelectedContainers()">
                    <span class="glyphicon glyphicon glyphicon-repeat"></span><strong> unpause</strong>
                </button>
                <button class="btn btn-danger btn-sm"
                        ng-click="removeSelectedContainers()">
                    <span class="glyphicon glyphicon glyphicon-trash"></span><strong> remove</strong>
                </button>
            </div>
        </div>
    </div>
    <hr/>
    <div class="alert alert-info" role="alert" ng-show="containerListing">
        <h3 class="panel-title"><span class="glyphicon glyphicon-refresh spin"></span> {{containerListingMessage}}</h3>
    </div>
    <div class="alert alert-warning" role="alert" ng-show="containerSizeListing">
        <h3 class="panel-title"><span class="glyphicon glyphicon-refresh spin"></span> {{containerSizeListingMessage}}
        </h3>
    </div>
    <table class="table table-condensed table-hover table-striped table-bordered">
        <thead>
        <tr class="success vcenter form-group">
            <td colspan="10">
                <button type="button" class="btn btn-primary btn-sm" ng-click="refreshContainers()"><span
                        class="glyphicon glyphicon-refresh"></span><strong> Refresh</strong>
                </button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="switchShowAllContainersFlag()">
                    <span ng-class="{'glyphicon glyphicon-unchecked':!showAllContainersFlag, 'glyphicon glyphicon-check':showAllContainersFlag}"></span><strong>
                    All</strong>
                </button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="switchShowContainerSizeFlag()"><span
                        ng-class="{'glyphicon glyphicon-unchecked':!showContainerSizeFlag, 'glyphicon glyphicon-check':showContainerSizeFlag}"></span>
                    <strong> Show size</strong>
                </button>
                <button type="button" class="btn btn-success btn-sm" ng-click='createContainer()'
                        title="Create new container"><span
                        class="glyphicon glyphicon-plus"></span><strong> Create</strong>
                </button>
                <label>Filter: <input ng-model="search.$"></label>
                <strong> Items listed: <span class="badge">{{containerDataList.length}}</span></strong>
            </td>
        </tr>
        <tr>
            <td width="2%" align="center">
                 <span ng-class="{'glyphicon glyphicon-check':selectAllFlag, 'glyphicon glyphicon-unchecked':!selectAllFlag}"
                       class="vcenter"
                       ng-click="switchSelectAllFlag()">
                </span>
            </td>
            <td width="12%" class="text-center">
                <div class="vcenter"><strong>Control</strong></div>
            </td>
            <td width="5%" class="text-center vcenter" ng-click="changeSorting('Status')">
                <div class="vcenter">
                    <strong>Status </strong>
                    <span class='fa'
                          ng-class="{'fa-sort-amount-desc':sort.column=='Status' && sort.direction==='descending','fa-sort-amount-asc':sort.column=='Status' && sort.direction==='ascending'}">
                    </span>
                </div>
            </td>
            <td width="7%" class="text-center" ng-click="changeSorting('Id')">
                <div class="vcenter">
                    <strong>ID</strong>
                    <span class='fa'
                          ng-class="{'fa-sort-amount-desc ':sort.column=='Id' && sort.direction==='descending','fa-sort-amount-asc':sort.column=='Id' && sort.direction==='ascending'}">
                    </span>
                </div>
            </td>
            <td width="7%" class="text-center vcenter" ng-click="changeSorting('ContainerName')">
                <div class="vcenter">
                    <strong>Name</strong>
                    <span class='fa'
                          ng-class="{'fa-sort-amount-desc ':sort.column=='ContainerName' && sort.direction==='descending','fa-sort-amount-asc':sort.column=='ContainerName' && sort.direction==='ascending'}">
                    </span>
                </div>
            </td>
            <td width="3%" class="text-center vcenter">
                <div class="vcenter"><strong>Edit</strong></div>
            </td>
            <td width="15%" class="text-center vcenter" ng-click="changeSorting('ImageName')">
                <div class="vcenter">
                    <strong>Image</strong>
                    <span class='fa'
                          ng-class="{'fa-sort-amount-desc ':sort.column=='ImageName' && sort.direction==='descending','fa-sort-amount-asc':sort.column=='ImageName' && sort.direction==='ascending'}">
                    </span>
                </div>
            </td>
            <td width="35%" class="text-center vcenter" ng-click="changeSorting('Command')">
                <div class="vcenter">
                    <strong>Command</strong>
                    <span class='fa'
                          ng-class="{'fa-sort-amount-desc ':sort.column=='Command' && sort.direction==='descending','fa-sort-amount-asc':sort.column=='Command' && sort.direction==='ascending'}">
                    </span>
                </div>
            </td>
            <td width="8%" class="text-center vcenter">
                <div class="vcenter"><strong>Diff / Virt. size</strong></div>
            </td>
            <td width="11%" class="text-center vcenter" ng-click="changeSorting('Created')">
                <div class="vcenter">
                    <strong>Created</strong>
                    <span class='fa'
                          ng-class="{'fa-sort-amount-desc ':sort.column=='Created' && sort.direction==='descending','fa-sort-amount-asc':sort.column=='Created' && sort.direction==='ascending'}">
                    </span>
                </div>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="containerData in containerDataList | filter:search | orderBy:sort.column:sort.desc"
            class="text-center">
            <td align="center">
                 <span ng-class="{'glyphicon glyphicon-check':containerData.selected, 'glyphicon glyphicon-unchecked':!containerData.selected}"
                       ng-click="switchSelected(containerData)">
                </span>
            </td>
            <td align="left">
                <button class="btn btn-success btn-sm"
                        ng-show="['created', 'stopped'].indexOf(containerData.Status)>-1"
                        ng-click="startContainer(containerData.Id)">
                    <span class="glyphicon glyphicon glyphicon-play"></span><strong> start</strong>
                </button>
                <button class="btn btn-warning btn-sm" ng-show="['running'].indexOf(containerData.Status)>-1"
                        ng-click="pauseContainer(containerData.Id)">
                    <span class="glyphicon glyphicon glyphicon-pause"></span><strong> pause</strong>
                </button>
                <button class="btn btn-info btn-sm" ng-show="['paused'].indexOf(containerData.Status)>-1"
                        ng-click="unpauseContainer(containerData.Id)">
                    <span class="glyphicon glyphicon glyphicon-pause"></span><strong> unpause</strong>
                </button>
                <button class="btn btn-danger btn-sm" ng-show="['running'].indexOf(containerData.Status)>-1"
                        ng-click="stopContainer(containerData.Id)">
                    <span class="glyphicon glyphicon glyphicon-stop"></span><strong> stop</strong>
                </button>
                <button class="btn btn-danger btn-sm"
                        ng-show="['created', 'stopped'].indexOf(containerData.Status)>-1"
                        ng-click="removeContainer(containerData.Id)">
                    <span class="glyphicon glyphicon glyphicon-trash"></span><strong> remove</strong>
                </button>
            </td>
            <td>
                <p class="label" style="font-size:0.9em;"
                   ng-class="{'label-success': containerData.Status=='running', 'label-warning': containerData.Status=='paused', 'label-danger': containerData.Status=='stopped','label-info': containerData.Status=='created'}">
                    {{containerData.Status}}</p>
            </td>
            <td class="form-groupID">
                <div ng-show="containerData.Privileged==true">
                    <span class="fa fa-exclamation-triangle" style="color: red"></span>
                    <a ng-href="#/containerDetails/{{containerData.Id }}">
                        {{containerData.Id | limitTo:12}}</a>
                </div>
                <div ng-hide="containerData.Privileged==true">
                    <a ng-href="#/containerDetails/{{containerData.Id }}">
                        {{containerData.Id | limitTo:12}}</a>
                </div>
            </td>
            <td class="text-right">
                <input ng-model="containerData.newName"
                       ng-enter="renameContainer(containerData)"
                       ng-show="containerData.renameContainerEnabled"
                       ng-keydown="keydown($event, containerData)">

                <div ng-show="!containerData.renameContainerEnabled">
                    <strong>
                        <a ng-href="#/containerDetails/{{containerData.Id }}">
                            {{containerData.ContainerName.charAt(0) === '/' ?
                            containerData.ContainerName.substr(1) : containerData.ContainerName | shorten:true:30}}</a>
                    </strong>
                </div>
            </td>
            <td id="renameContainer">
                <button class="btn btn-sm glyphicon"
                        ng-class="{'btn-warning glyphicon-pencil':!containerData.renameContainerEnabled, 'btn-success glyphicon-ok':containerData.renameContainerEnabled}"
                        ng-click="renameContainer(containerData)" title="Rename container"></button>
            </td>
            <td class="text-center">
                <a ng-href="#/imageDetails/{{containerData.ImageId}}">
                    {{containerData.ImageName | shorten:true:30}}</a>
            </td>
            <td class="text-left">{{containerData.Command | shorten:true:80}}</td>
            <td class="text-left">{{showContainerSizeFlag==true?containerData.SizeRw:NAN | bytes:2 }}
                ({{showContainerSizeFlag==true?containerData.SizeRootFs:NAN | bytes:2 }})
            </td>
            <td class="text-left">{{containerData.Created * 1000 | date:'dd, MMM yyyy HH:mm:ss'}}</td>
        </tr>
        </tbody>
    </table>
    <span class="fa fa-exclamation-triangle" style="color: red"></span> = privileged
</div>