<div class="col-md-12">
    <div>
    </div>
    <form class="form-inline" role="form">
        <div class="form-group">
            <input type="text" class="form-control" id="newHostName" ng-model="newHostName" placeholder="name">
            <input type="url" class="form-control" id="newHostUrl" ng-model="newHostUrl" placeholder="docker host address">
        </div>
        <button type="submit" class="btn btn-success glyphicon glyphicon-plus" ng-click="addHost()"></button>
        <br/>
        <br/>

    </form>
    <div class="table-responsive">
        <table class="table table-condensed table-hover table-striped table-bordered">
            <tr class="success">
                <td colspan="8">
                    <div class="input-group col-md-3">
                        <label class="sr-only" for="pingInterval"></label>
                        <input type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" id="pingInterval"
                               style="width: 100% !important;margin-top: 2px" ng-model='pingInterval' placeholder="Ping interval in ms">
                            <span class="input-group-btn">
                            <button ng-click="updateStatus()" title="Refresh list" type="submit" class="btn btn-primary glyphicon glyphicon-refresh"
                                    style="width: 40px; margin-right: 160px;margin-left: 5px;">

                            </button>
                        </span>
                    </div>
                </td>
            </tr>

            <tr>
                <td width="1%" class="text-center"><strong>Health</strong></td>
                <td width="15%" class="text-center"><strong>Name</strong></td>
                <td width="30%" class="text-center"><strong>Host URL</strong></td>
                <td width="8%" class="text-center"><strong>Created</strong></td>
                <td width="8%" class="text-center"><strong>Last connected</strong></td>
                <td width="1%" class="text-center"><strong>Actions</strong></td>
                <td width="1%" class="text-center"><strong>Default</strong></td>
            </tr>
            <tr ng-repeat="host in hosts  | orderBy: '[!status, name]'">
                <!--<tr ng-repeat="host in hosts track by $index | orderBy: '[!status, name]'">-->
                <td width="1%" class="text-left">
                    <button ng-disabled="!host.status"
                            ng-click="goHostDetails(host)"
                            ng-class="{'btn btn-success glyphicon glyphicon-signal': host.status, 'btn btn-danger glyphicon glyphicon-flash': !host.status}"
                            title="See host stats">
                    </button>
                </td>
                <td width="5%" class="text-left">
                    <div ng-click="saveHost(host)">
                        <div ng-hide="host.editHostEnabled">
                            {{host.name | shorten:true:35}}
                        </div>
                    </div>
                    <div ng-show="host.editHostEnabled">
                        <input ng-model="host.editHostName">
                    </div>
                </td>
                <td width="5%" class="text-left">
                    <div ng-click="saveHost(host)">
                        <div ng-hide="host.editHostEnabled">
                            {{host.url | shorten:true:50}}

                        </div>
                    </div>
                    <div ng-show="host.editHostEnabled">
                        <input size="40" ng-model="host.editHostUrl">
                    </div>
                </td>
                <td width="1%" class="text-center">{{host.created | date : shortDate}}</td>
                <td width="7%" class="text-center">{{host.lastConnected | date : shortDate}}</td>
                <td width="15%" class="text-center">
                    <button ng-class="{'btn btn-success glyphicon glyphicon-log-in': host.selected, 'btn btn-info glyphicon glyphicon-log-in': !host.selected}"
                            ng-click="goContainers(host)" ng-disabled='!host.status' title="Select host"></button>
                    <button ng-class="{'btn btn-warning glyphicon glyphicon-pencil':!host.editHostEnabled, 'btn btn-success glyphicon glyphicon-ok':host.editHostEnabled}"
                            ng-click="saveHost(host)" title="Edit host data"></button>
                    <button class="btn btn-danger glyphicon glyphicon-trash" ng-click="removeHost(host)" title="Delete host from the list"></button>
                </td>
                <td width="7%" class="text-center">
                    <span style="font-size:1.5em;"
                          ng-class="{'glyphicon glyphicon-check':host.defaultConnection, 'glyphicon glyphicon-unchecked':!host.defaultConnection}"
                          ng-click="setDefaultHost(host)"
                          aria-hidden="true"></span>
                </td>
            </tr>

        </table>
    </div>
</div>
