<div class="col-md-12 pull-right">
    <div class="row">
        <div class="col-md-6">
            <h3>Images on: <strong>{{$root.hostUrl}}</strong></h3>
        </div>
        <div class="col-md-6">
            <div class="pull-right " style=" vertical-align: middle;margin-top: 21px">
                <button class="btn btn-danger btn-sm"
                        ng-click="removeSelectedImages()">
                    <span class="glyphicon glyphicon glyphicon-trash"></span><strong> remove</strong>
                </button>
            </div>
        </div>
    </div>
    <hr/>
    <div class="alert alert-info" role="alert" ng-show="imageListing">
        <h3 class="panel-title"><span class="glyphicon glyphicon-refresh spin"></span> {{imageListingMessage}}</h3>
    </div>
    <table class="table table-condensed table-hover table-striped table-bordered">
        <thead>
        <tr class="success vcenter form-group">
            <td colspan="7">
                <button type="button" ng-click="refreshImages()" class="btn btn-primary btn-sm"><span
                        class="glyphicon glyphicon-refresh"></span><strong> Refresh</strong>
                </button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="switchShowAllFlag()">
                    <span ng-class="{'glyphicon glyphicon-unchecked':!showAllImagesFlag, 'glyphicon glyphicon-check':showAllImagesFlag}"></span><strong>
                    All</strong>
                </button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="switchShowUntaggedFlag()"><span
                        ng-class="{'glyphicon glyphicon-unchecked':!showUntaggedImagesFlag, 'glyphicon glyphicon-check':showUntaggedImagesFlag}"></span><strong>
                    Untagged</strong>
                </button>
                <label>Filter: <input ng-model="search.$"></label>
                <strong>Items listed: <span class="badge">{{images.length}}</span></strong>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td width="1%" class="text-center">
                    <span ng-class="{'glyphicon glyphicon-check':selectAllImagesFlag, 'glyphicon glyphicon-unchecked':!selectAllImagesFlag}"
                          class="vcenter"
                          ng-click="switchSelectAllImagesFlag()">
                </span>
            </td>
            <td width="2%" class="text-center">
                <strong>Control</strong>
            </td>
            <td width="3%" class="text-center" ng-click="changeSorting('Id')">
                <strong>Image ID</strong>
                    <span class='fa'
                          ng-class="{'fa-sort-amount-desc ':sort.column=='Id' && sort.direction==='descending','fa-sort-amount-asc':sort.column=='Id' && sort.direction==='ascending'}">
                    </span>
            </td>
            <td width="30%" class="text-center" ng-click="changeSorting('tagString')">
                <strong>Repository tags</strong>
                    <span class='fa'
                          ng-class="{'fa-sort-amount-desc ':sort.column=='tagString' && sort.direction==='descending','fa-sort-amount-asc':sort.column=='tagString' && sort.direction==='ascending'}">
                    </span>
            </td>
            <td width="7%" class="text-center" ng-click="changeSorting('Size')">
                <strong>Size</strong>
                    <span class='fa'
                          ng-class="{'fa-sort-amount-desc ':sort.column=='Size' && sort.direction==='descending','fa-sort-amount-asc':sort.column=='Size' && sort.direction==='ascending'}">
                    </span>
            </td>
            <td width="7%" class="text-center" ng-click="changeSorting('VirtualSize')">
                <strong>Virtual size</strong>
                    <span class='fa'
                          ng-class="{'fa-sort-amount-desc ':sort.column=='VirtualSize' && sort.direction==='descending','fa-sort-amount-asc':sort.column=='VirtualSize' && sort.direction==='ascending'}">
                    </span>
            </td>
            <td width="5%" class="text-center" ng-click="changeSorting('Created')">
                <strong>Created</strong>
                    <span class='fa'
                          ng-class="{'fa-sort-amount-desc ':sort.column=='Created' && sort.direction==='descending','fa-sort-amount-asc':sort.column=='Created' && sort.direction==='ascending'}">
                    </span>
            </td>
        </tr>
        <tr ng-repeat="image in images | filter:search | orderBy:sort.column:sort.desc">
            <!--<tr ng-repeat="image in images | orderBy:RepoTags[0]">-->
            <td class="text-center">
                 <span ng-class="{'glyphicon glyphicon-check':image.selected, 'glyphicon glyphicon-unchecked':!image.selected}"
                       class="vcenter"
                       ng-click="switchSelectedImage(image)">
                </span>
            </td>
            <td class="text-center">
                <button class="btn btn-danger btn-block btn-sm" ng-click="removeImage(image.Id)">
                    <strong>Remove</strong>
                </button>
            </td>
            <td class="text-center">
                <button class="btn btn-info btn-block btn-sm" ng-click="goImageDetails(image.Id)">
                    <strong>{{image.Id | limitTo:12}}</strong>
                </button>
            </td>
            <td class="text-left">
                <!--<p ng-repeat="tag in image.RepoTags | orderBy: tag">{{tag}}</p>-->
                {{image.tagString}}
            </td>
            <td class="text-center">{{image.Size | bytes:2}}</td>
            <td class="text-center">{{image.VirtualSize| bytes:2}}</td>
            <td class="text-center">{{image.Created * 1000 | date:'dd-MM-yy HH:mm:ss'}}</td>
        </tr>
        </tbody>
    </table>
</div>
