<div class="modal-header">
    <h3 class="modal-title">Login to a repository</h3>
</div>
<div class="modal-body vcenter">
    <div class="row form-group">
        <div class="col-md-3 text-right">
            <strong>Server address:</strong>
        </div>
        <div class="col-md-9">
            <input class="form-control" type="text">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-right">
            <strong>Email:</strong>
        </div>
        <div class="col-md-9">
            <input class="form-control" type="text">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-right">
            <strong>Username:</strong>
        </div>
        <div class="col-md-9">
            <input class="form-control" type="text">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-right ">
            <strong>Password:</strong>
        </div>
        <div class="col-md-9">
            <input class="form-control" type="text">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
